.App {
  text-align: center;
  position: relative;
  min-height: 100vh
}

div.divider {
  margin-top: 0.5rem;
}

main {
  position: absolute;
  padding-top: 1rem;
  bottom: 2rem;
  top: 3rem;
  left: 0;
  right: 0;
  background-size: 80px;
  overflow: scroll;
}

#weather-box {
  background-image: url('http://localhost:3000/weather/NH_Bulletin_Board.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  max-height: 70vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

#player {
  position: absolute;
  bottom: 0;
  right: 0;
}

#weather h1 {
  padding-left: 1rem;
  font-size: 3rem;
}

#weather img {
  height: 3rem;
}

header {
  background-color: #ba8b34;
  height: 3rem;
}

header h1 {
  color: white;
}

h1 {
  margin: 0px;
}

footer {
  color: #eeeeee;
  height: 2rem;
  position: absolute;
  bottom: 0;
  background-color: #ba8b34;
  width: 100%;
}

footer a {
  color: #ccccee;

}